# Bỏ qua thư viện
node_modules/
frontend/node_modules/
backend/node_modules/

# Bỏ qua các file môi trường (chứa mật khẩu)
.env
backend/.env
frontend/.env

# Bỏ qua file build
dist/
build/
frontend/dist/

.DS_Store